
<h4>Treasure Trove Simulator</h4>

<p>
  This program use the logic of the "Rolling Fistfuls of Dice" method by The Angry GM, explained in the article 
  <a [href]="'https://theangrygm.com/how-you-should-handle-treasure-2/'" target="_blank">
    "Silver and Gold: How You Should Handle Treasure at the Table (Part 2)"
  </a>.
</p>
<p>
  Also, for the evalution of the treasure it is used the "Dicey Treasure Valuation" 
  (see <a [href]="'https://theangrygm.com/how-you-should-handle-treasure-1/'" target="_blank">
    "Silver and Gold: How You Should Handle Treasure at the Table (Part 1)"
  </a>).
</p>

<section class="example-section">
  <mat-checkbox class="example-margin" [(ngModel)]="diceLog">Enable Dice Log</mat-checkbox>
</section>

<div class="row-section">
  <div class="col-section">
    <label><b>Choose your Adventure Tier</b></label>
    <mat-radio-group class="radio-group" (ngModelChange)="updateDices()"
      [(ngModel)]="adventureTireSelected">
      @for (tier of adventureTiers; track tier) {
        <mat-radio-button class="radio-button" [value]="tier">{{tier.text}}</mat-radio-button>
      }
    </mat-radio-group>
    
  </div>
</div>


<div class="row-section">
  <div class="col-section">
    <label><b>Choose your Trove profile</b></label>
    <mat-radio-group class="radio-group"
      [(ngModel)]="troveProfileSelected">
      @for (profile of troveProfiles; track profile) {
        <mat-radio-button class="radio-button" [value]="profile">{{profile.text}} - {{profile.array | json}}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
  
</div>


<div class="col-section">

  <div class="row-section">
    <label class="label">Number of Dices for Items (Max: {{adventureTireSelected.numberOfDiceTrove}})</label>
    <mat-form-field class="form-field">
      <input matInput type="number" [(ngModel)]="dicesForItems" 
      (ngModelChange)="updateDices()"
      max={{adventureTireSelected.numberOfDiceTrove}} min=0>
    </mat-form-field>
  </div>

  <div class="row-section">
    <label class="label">Number of Dices to Coins</label>
    <mat-form-field class="form-field">
      <input matInput type="number" [(ngModel)]="dicesForCoin" disabled>
    </mat-form-field>
  </div>

</div>


<div class="row-section">
  <label class="label">Generate Treasure Trove</label>
  <button mat-fab color="primary" class="btn" (click)="startSimulation()">
    <mat-icon>check</mat-icon>
  </button>
</div>


<div class="col-section">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Result</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div>
        <div>Coin Value: <b> {{coinValue}} GP </b> 
          <span *ngIf="diceForCoinArray.length && diceLog">dices rolled {{diceForCoinArray | json}} 
            (multiplier {{adventureTireSelected.multiplier}}) </span>
        </div>
      </div>
    
      <div>
        <div>Number of Items: <b>{{items.length}} </b> 
          <span *ngIf="dicesResultForNumberOfItems.length && diceLog">dices rolled {{dicesResultForNumberOfItems | json}} </span>
       </div>
      </div>

      <div class='list-container'>
        @for (item of items; track item) {

          <div class="list-row">
            <div>
              <b>{{item.objClass}}</b> <span *ngIf="item.objClassDice && diceLog"> (dice rolled: [{{item.objClassDice}}])</span>,
            <b>{{item.rarity}} </b> <span *ngIf="item.rarityDice && diceLog"> (dice rolled: [{{item.rarityDice}}])</span>,
            <b>{{item.quality}} quality</b> 
            <span *ngIf="diceLog"> 
              (dice rolled: [{{item.qualityDice}}] 
              <span *ngIf="item.qualityDice2"> 
                -> [{{item.qualityDice2}}]
              </span>
              )
            </span>
            </div>

            <div class="subtext">
              <div>Valuation: <b>{{item.value}} GP
                <span *ngIf="!item.quality.includes('Standard')">(considering quality {{item.valueWithQuality}} GP)</span></b>, 
                tight appraisal <i>({{item.tightAppraisal}})</i>, 
                broad appraisal <i>({{item.broadAppraisal}})</i>
              
              </div>
            </div>
          </div>

        }
      </div>

        
    </mat-card-content>
  </mat-card>



</div>

